html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root {
    --nav-width: 250px;
    --content-width: 720px;
    --default-left-margin: 45px;
}

#nav-icon {
    width: 35px;
    height: 35px;
    padding-left: 5px;
    padding-top: 5px;
    top: 0;
    left: 0;
    cursor: pointer;
    position: fixed;
}

html {
    margin-left: var(--nav-width);
    transition: 0.5s;
}

nav #closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 42px;
    margin-left: 50px;
}

nav a:hover {
    color: #f1f1f1;
}

nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    height: 100%;
    width: var(--nav-width);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

h1 {
    font-family: lato;
    font-weight: 700;
    /* text-align: center; */
    font-size: 48px;
    padding-bottom: 5px;
}

/* CSS doesn't support variables in media commands :( */
/* @media only screen and (min-width: calc(var(--nav-width) + var(--content-width))) { */
@media only screen and (min-width: calc(250px + 720px)) {
    .content {
        padding-top: 10px;
        width: var(--content-width);
        padding-left: max(calc(50% - (var(--content-width) / 2)), 10px);
        padding-right: calc(50% - (var(--content-width) / 2));
    }
}

/* CSS doesn't support variables in media commands :( */
/* @media only screen and (max-width: calc(var(--nav-width) + var(--content-width))) { */
@media only screen and (max-width: calc(250px + 720px)) {
    .content {
        padding-top: 10px;
        width: 100%;
        padding-left: 5px;
        padding-right: 0;
    }
}

.datestamp {
    font-family: lato;
    font-weight: 800;
    font-size: 16px;
    padding-bottom: 10px;
}

.paragraph {
    padding-top: 20px;
    font-family: lato;
    font-weight: 300;
    font-size: 24px;
}
